@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    <p>Här kommer det komma upp lite info om de projekt jag arbetar med för tillfället samt de jag blivit klar med.</p>
</div>
<div>
    <p>
        I'm a: <span class="typed-element"></span>
    </p>
</div>
@section Scripts {
    <partial name="_TypedJSPartial" />
}